*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262C27;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-image: url("../img/csm_FA22_RayAir_Header_2_738a7a250b 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  position: relative;
  margin-bottom: 80px;
}

header::before {
  content: "";
  position: absolute;
  background-image: url("../img/header_decor.svg");
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
  z-index: 2;
}

header::after {
  content: "";
  position: absolute;
  background-image: url("../img/header_decor.svg");
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(64%) rotate(180deg);
          transform: translateY(64%) rotate(180deg);
  z-index: 3;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 57px 0;
  gap: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.logo path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.logo path:hover {
  fill: #0093A1;
}

.header__btn {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-family: "Comfortaa", cursive;
  padding: 12px 71px;
  background-color: #262C27;
  border: none;
}
.header__btn:hover {
  background-color: #0093A1;
}

.header__content {
  min-height: calc(100vh - 161px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header__content-box {
  max-width: 550px;
  text-align: center;
  margin-right: 40px;
  margin-bottom: 120px;
  color: white;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  position: relative;
}

.header__decor-text {
  position: absolute;
}

.header__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 71px;
  font-size: 64px;
}

.header__text {
  font-size: 24px;
  line-height: 27px;
  margin: 0px 0px 20px 0px;
}

.header__decor-text {
  position: absolute;
  bottom: 25px;
  color: #0093A1;
}

.header__decor-text--1 {
  z-index: 1;
  font-family: "Comfortaa", cursive;
  opacity: 0.3;
  font-size: 130px;
  line-height: 145px;
  right: 145px;
  bottom: 120px;
}

.header__decor-text--2 {
  font-family: "Comfortaa", cursive;
  opacity: 0.3;
  font-size: 130px;
  line-height: 145px;
  z-index: 4;
  left: 265px;
}

.header__decor-text--3 {
  max-width: 360px;
  right: 145px;
  z-index: 4;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.info {
  background-image: url("../img/bg_info.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.info::before {
  content: "";
  position: absolute;
  height: 130px;
  background-color: #262C27;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
  z-index: 1;
}

.info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  padding: 100px 0px 0px 0px;
  margin-bottom: 65vh;
}

.info__top-text {
  padding: 245px 0px 0px 0px;
  width: 290px;
  color: #fff;
}

.info__top-text-one {
  padding-bottom: 120px;
}

.info__top-text-two {
  border-bottom: 1px solid #fff;
}

.popup__btn {
  border: none;
  background-color: transparent;
  display: block;
  color: #fff;
  position: absolute;
  left: 185;
  top: 650px;
  cursor: pointer;
}

.info_top-img {
  position: relative;
  z-index: 6;
}

.info__specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 130px;
  padding: 50px 0px 50px 0px;
}

.info__spacs-title {
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Comfortaa", cursive;
  color: #fff;
  width: 250px;
}

.info__specs-list {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 30px 0px;
  width: 565px;
  font-weight: 700;
}

.info__specs--item {
  margin: 0px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: #fff;
}

.info__specs-caption {
  width: 190px;
}

/*continue*/
.buy__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy__description {
  width: 502px;
}

.buy__description h3 {
  color: #0093A1;
  font-weight: 400;
  font-size: 60px;
  line-height: 67px;
  padding-bottom: 50px;
  padding-top: 150px;
}

.buy__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #262C27;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.buy__subtitle:hover {
  color: #0093A1;
}

.buy__subtitle-blue {
  color: #0093A1;
}

.buy__subtitle-blue:hover {
  color: #262C27;
}

.buy_parag {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262C27;
  padding-bottom: 25px;
  z-index: 3;
}

.buy__description-into {
  max-width: 292px;
}

.buy__img {
  max-width: 600px;
}

.buy__img_img {
  cursor: pointer;
}

.buy__description-btn {
  width: 484px;
  color: #0093A1;
  border: 2px solid #0093A1;
  background-color: inherit;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  padding: 18px 192px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  z-index: 3;
}

.buy__description-btn:hover {
  background-color: #B9C400;
  color: #262C27;
  border: 2px solid #B9C400;
}

.buy__description-into {
  position: relative;
  z-index: 3;
}

.img_590 {
  position: absolute;
  right: -200px;
  bottom: 130px;
  max-width: 180;
  z-index: 1;
}

/* SECTION MICRO TECHNOLOGY */
.micro {
  background-image: url("../img/micro_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1370px;
  position: relative;
}

.micro__description {
  padding-top: 900px;
}

.micro__description h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 67px;
  color: #262C27;
  padding-bottom: 65px;
  position: relative;
}

.micro__description-ul {
  padding-left: 25px;
}

.micro__description-ul li {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #262C27;
  padding-bottom: 15px;
  list-style: decimal;
  padding-left: 1em;
}

.micro__continue {
  position: relative;
}

.micro__continue__descr {
  width: 350px;
  font-weight: 400;
  font-size: 18px;
  color: #262C27;
  margin-top: 115px;
  position: relative;
}

.micro__continue__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.micro__continue__image-1 {
  border-radius: 400px 0px 0px 0px;
  padding-bottom: 25px;
  width: 415px;
}

.micro__continue__image-2 {
  border-radius: 0px 0px 0px 300px;
  padding-right: 25px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 292px;
}

.micro__continue__image-3 {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 2;
  width: 115px;
}

.microSec_btn {
  border: none;
  background-color: transparent;
  display: block;
  color: #fff;
  position: absolute;
  padding-left: 700px;
  bottom: 630px;
  cursor: pointer;
}

.micro__continue__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  right: 280px;
  bottom: -60px;
  z-index: 1;
  border: 2px solid #262C27;
  border-radius: 200px 0px 300px;
  padding: 70px 30px;
}

/* galery */
.galery {
  padding-top: 150px;
}

.galery__gridBox {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.galery__gridBox-item1 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.galery__gridBox-item2 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.galery__gridBox-item3 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.gridImg__1 {
  margin-right: 20px;
}

.gridImg__2 {
  border-radius: 0px 500px 0px 0px;
}

.gridImg__3 {
  border-radius: 0px 0px 150px 0px;
  margin-right: 18px;
}

.gridImg__4 {
  border-radius: 0px 200px 0px 0px;
  margin-right: 18px;
}

.gridImg__6 {
  margin-right: 20px;
}

.enjoy__h3 {
  position: absolute;
  top: 35%;
  left: 85px;
  color: #fff;
  z-index: 100;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

.gridImg__7 {
  border-radius: 0px 0px 0px 400px;
}

.container2 {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1260px;
}

/* footer */
.footer {
  margin-top: 150px;
  background-color: #262C27;
}

.footer__top {
  padding-top: 101px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.contact__us {
  font-weight: 400;
  font-size: 60px;
  line-height: 67px;
}

.footer__form {
  width: 500px;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #262C27;
  color: #fff;
}

input {
  background-color: transparent;
  border: 0px solid;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

.footer__btn {
  width: 193px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  background-color: #fff;
  color: #262C27;
  padding: 10px 66px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer__btn:hover {
  background-color: #0093A1;
  color: #fff;
}

.footer__down {
  padding-top: 110px;
}

.footer__gallery img {
  margin-right: 30px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__down h4 {
  color: #fff;
  padding-bottom: 50px;
}

.footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.footer__policy a {
  margin-right: 72px;
  padding-bottom: 85px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer__policy a:last-child {
  margin-right: 0px;
}

.footer__policy a:hover {
  color: #0093A1;
}

/*mobile*/
@media screen and (max-width: 1441px) {
  .header__top {
    font-size: 15px;
    margin-right: 75px;
  }
  .logo a {
    color: #fff;
  }
  .header__content-box {
    margin-right: 225px;
    margin-bottom: 100px;
  }
  .header__title {
    font-size: 45px;
  }
  .header__text {
    font-size: 18px;
  }
  .header__decor-text--1 {
    font-size: 90px;
    right: 280px;
    bottom: 65px;
  }
  .header__decor-text--2 {
    font-size: 90px;
    bottom: -30px;
  }
  .header__decor-text--3 {
    right: 210px;
    font-size: 23px;
    bottom: -30px;
  }
  .header__phone {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
  }
  .header::before {
    height: 350px;
  }
  .header::after {
    height: 350px;
  }
  .info::before {
    height: 140px;
  }
  .info__top-text, .info__specs-caption {
    font-size: 16px;
  }
  .buy__img img {
    width: 495px;
    padding-top: 20px;
  }
  .buy__description h3 {
    font-size: 50px;
  }
  .buy__subtitle, .buy_parag {
    font-size: 16px;
  }
  .buy__description-into {
    padding-left: 15px;
  }
  .micro__continue__images {
    right: 100px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 1237px) {
  .gridImg__1 {
    display: none;
  }
  .gridImg__2 {
    width: 100%;
  }
  .gridImg__3 {
    display: none;
  }
  .gridImg__4 {
    display: none;
  }
  .gridImg__5 {
    display: none;
  }
  .gridImg__6, .enjoy__h3 {
    display: none;
  }
  .gridImg__7 {
    width: 100%;
    border-radius: 0;
  }
}
@media screen and (max-width: 1024px) {
  .header__content-box {
    margin-bottom: 60px;
    z-index: 11;
  }
  .header__decor-text--1 {
    font-size: 60px;
    right: 400px;
    bottom: 40px;
  }
  .header__decor-text--2 {
    font-size: 60px;
    bottom: -65px;
  }
  .info__specs-caption {
    width: 95px;
  }
  .header__decor-text--3 {
    right: 150px;
    font-size: 23px;
    bottom: -30px;
  }
  .buy__description h3 {
    font-size: 40px;
  }
  .img_590 {
    position: absolute;
    right: -130px;
    bottom: 130px;
    max-width: 160px;
    z-index: 1;
  }
  .galery__gridBox {
    gap: 5px;
  }
  .buy__description-btn {
    width: 420px;
    font-size: 25px;
    padding: 10px 155px;
  }
  .micro__continue__images {
    right: 80px;
    padding-left: 30px;
  }
  .footer {
    margin-top: 10px;
  }
  .footerImg4 {
    display: none;
  }
  .footer__policy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__down h4 {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .header__content-box {
    margin-top: 75px;
    margin-left: 315px;
  }
  .info::before {
    height: 115px;
  }
  .info_top-img {
    width: 150px;
    height: 400px;
    top: 230px;
  }
  .info__top-text-two {
    padding-bottom: 30px;
  }
  .footer__gallery img:nth-child(3) {
    margin-right: 0px;
  }
  .info__spacs-title {
    font-size: 40px;
  }
  .info__specs-caption, .info__specs-text {
    font-size: 16px;
  }
  .info__specs-list {
    width: 525px;
    margin-left: -190px;
  }
  .header__decor-text--1 {
    font-size: 60px;
    right: 300px;
    bottom: 40px;
  }
  .header__decor-text--2 {
    left: 65px;
    font-size: 50px;
    bottom: -65px;
  }
  .header__decor-text--3 {
    right: 150px;
    font-size: 23px;
    bottom: -30px;
  }
  .buy__description h3 {
    font-size: 32px;
  }
  .img_590 {
    position: absolute;
    right: -130px;
    bottom: 75px;
    max-width: 130px;
    z-index: 1;
  }
  .buy__subtitle, .buy_parag {
    font-size: 15px;
  }
  .buy__img img {
    width: 350px;
    padding-top: 100px;
  }
  .microSec_btn {
    padding-left: 160px;
  }
  .micro__continue__images {
    right: 30px;
  }
  .micro__continue__image-1 {
    border-radius: 400px 0px 0px 0px;
    padding-bottom: 25px;
    width: 300px;
  }
  .micro__continue__image-2 {
    border-radius: 0px 0px 0px 300px;
    padding-right: 25px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 211px;
  }
  .micro__continue__image-3 {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 2;
    width: 81px;
  }
  .contact__us {
    font-size: 40px;
  }
  .footer__logo {
    width: 280px;
  }
  .footer__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__gallery img {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .info_top-img {
    display: none;
  }
  .header__content-box{
    width: 300px;
  }
  .micro__description h3 {
    font-size: 40px;
  }
  .buy__description-btn {
    width: 310px;
    padding: 10px 40px;
  }
  .buy__description {
    width: auto;
  }
  .buy__description h3 {
    font-size: 32px;
    padding-top: 50px;
  }
  .header__top {
    margin-right: 0;
  }
  .img_590 {
    position: absolute;
    right: 50px;
    top: -225px;
    max-width: 130px;
    z-index: 1;
  }
  .info__specs-caption {
    width: 90px;
  }
  .header__phone {
    display: none;
  }
  .header__content-box {
    margin: 0;
    z-index: 11;
  }
  .header__decor-text--3 {
    right: 0;
  }
  .popup__btn {
    top: 160px;
    right: 310px;
  }
  .info__specs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__specs-list {
    margin: 0;
    width: auto;
  }
  .buy__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .micro__continue__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .micro__continue__images {
    position: relative;
    border: none;
  }
  .contact__us {
    font-size: 25px;
  }
  .footer__logo {
    width: 180px;
  }
  .footer__gallery img {
    width: 100%;
    margin: 0;
    padding: 0 40px;
    margin-bottom: 20px;
  }
  .footer__form {
    width: 100%;
  }
  .footer__gallery, .footer__policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__policy a {
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .header__decor-text--1, .header__decor-text--2 {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__content-box{
    margin-top: 70px;
  }
  .info__spacs-title{
    text-align: left;
    width: 155px;
  }
  .header{
    background-position: 35% center;
  }
  .popup__btn {
    right: 160px;
  }
  .info__top{
    margin-bottom: 20vh;
  }
  .info__specs-caption, .info__specs-text {
    font-size: 14px;
  }
  .galery {
    padding-top: 70px;
  }
}
@media screen and (max-width: 370px) {
  .header__btn {
    display: none;
  }

  .popup__btn {
    right: 160px;
  }
  .info__specs-caption, .info__specs-text {
    font-size: 11px;
  }
  .buy__description-btn {
    width: 250px;
    padding: 10px 60px;
  }
  .contact__us {
    font-size: 22px;
  }
  .micro__continue__descr {
    width: 300px;
  }
  .buy__img img {
    width: 300px;
    padding-top: 100px;
  }
  .info__specs-text {
    width: 190px;
  }
  .info__top {
    gap: 10px;
  }


}
@media screen and (max-width: 341px) {


  .logo path{
    color: #fff;
  }
  .header__content-box{
    margin-top: 150px;
  }
  .header__top {
    padding-top: 10px;
  }
  .header__title {
    font-size: 50px;
    color: #ffffff;
  }
  #header__text {
    margin: 0px 0px 25px 0px;
  }
  .contact__us {
    font-size: 18px;
  }
  .footer__logo {
    width: 160px;
  }
  .micro__continue__images {
    right: 0;
  }
  .header__decor-text--3 {
    bottom: -80px;
  }
  .micro__continue__image-1 {
    width: 282px;
  }
  .micro__continue__image-2 {
    width: 200px;
  }
  .micro__continue__image-3 {
    width: 76px;
  }
}
